/*

 Dark Green : #78BD4C
  Mid Green : #A8FF56
       Lite : #ECFFE0
Dark Purple : #A22FB0

*/
input[type="radio"] {
  display:none;
}
input[type="radio"] + label {
  color: rgba(224, 238, 245, 1);


}
input[type="radio"] + label span {

  display:inline-block;
  width:30px;
  height:30px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label span {
  background-color:rgba(224, 238, 245, 1);
}

input[type="radio"]:checked + label span{
  background-color:#0277b3;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

@font-face {
  font-family: 'laconiclight';
  src: url('laconic_light-webfont.eot');
  src: url('laconic_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('laconic_light-webfont.woff2') format('woff2'),
  url('laconic_light-webfont.woff') format('woff'),
  url('laconic_light-webfont.ttf') format('truetype'),
  url('laconic_light-webfont.svg#laconiclight') format('svg');
  font-weight: normal;
  font-style: normal;

}
html, body {
  background-color: #000921;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



/* ******************************
              BUTTONS!
     (Inspired by Bootstrap 3.0)
   ****************************** */

.btn {
  display: inline-block;
  height: 100%;
  width: 200px;
  margin-bottom: 0;
  color: #0277b3;
  font-family: 'laconiclight';
  letter-spacing: 4px;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 3px solid #0277b3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: rgba(224, 238, 245, 1);
  border: 3px solid rgba(224, 238, 245, 1);
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
  margin-right: 5px;
}

.right {
  margin-left:5px;
}

.effectButton{
  width:30%;
  height: 50px;
  background-color: #059400;
  border-radius: 30px;
  border:none;
  color:white;
  margin-top:50px;

}
.effectButton:hover,
.btn:hover,
.btn:focus {

  text-decoration: none;
}

/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

#gameArea {
  height: 100%;
  width: 100%;
  color: #059400;
}

.chooseEffect{
  color:white;
}

.titleWrapper {
  font-family: 'laconiclight';

  position: absolute;
  height: 50%;
  width: 96%;
  margin: auto;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.title {
  margin: 0px auto;
  text-align: center;
  width: 100%;
  font-family: 'laconiclight';
  color: #0277b3;

}

.buttons {
  width: 100%;
  text-align: center;
}

/* ******************************
          START SCREEN
     (create-game-template)
   ****************************** */

.createGameWrapper, .joinGameWrapper, .gameOver {
  font-family: 'laconiclight';
  margin: 0 auto;
  text-align: center;
  color: #0277b3;
}

.createGameWrapper .info{
  color: #ECFFE0;

  font-size: 2em;
  margin-top: 1.5em;
}

.createGameWrapper{
  color: #0277b3;

}

.info label {
  display: block;
}

.info input {
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 30px;
  font-family: 'laconiclight';
  color: rgba(224, 238, 245, 1);

  font-size: 20px;
  border: 3px solid rgba(224, 238, 245, 1);
  border-radius: 10px;
  background: transparent;
}

.info input#inputPlayerName {
  width: 90%;
}


/* ******************************
           JOIN SCREEN
      (join-game-template)
   ****************************** */

.joinGameWrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 320px;
}

.joinGameWrapper .info {
  font-size: 1.5em;
  color: #0277b3;
  height:auto;
  margin-top: 20px;
}

.joinGameWrapper .chooseButtons {
  font-size: 1.5em;
  color: #0277b3;
  height:auto;
  margin-top: 20px;
}

.joinGameWrapper .btn {
  height: 70px;
  width: 200px;
}

#playerWaitingMessage {
  font-size: .8em;
}

.createGameWrapper #gameURL {
  font-size: 4em;
}

.createGameWrapper .gameId {
  font-size: 8em;
}



/* ******************************
          PLAYER GAME SCREEN

   ****************************** */


#ulAnswers {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#ulAnswers li {
  width: 100%;
  height: 16.6%;
}

.btnAnswer {
  width: 100%;
  border-bottom: 1px dotted white;

  font-size: 3em;
  color: #059400;
}



/* ******************************
            HOST SCREEN
       (host-game-template)
   ****************************** */

/* Absolute Centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
#wordArea {
  font-family: 'laconiclight';

  position: absolute;
  height: 50%;
  width: 50%;
  margin: auto;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

#hostWord {
  height: 100%;
  width: 100%;
}

#hostWord h2, #btnPlayerRestart h3 {
  font-size: 161px;
  line-height: 1em;
  font-family: 'laconiclight';

  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#playerScores {
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
}

.playerScore {
  width: 50%;
  padding: 0;
  margin: 0;
  font-family: 'laconiclight';

  height: 100%;
}

.playerScore span {
  display: inline-block;
  font-size: 1.4EM;
  padding: 2%;
  min-width: 10%;
  margin: 0;
}

.playerScore .score {
  text-align: center;
  background-color: #A8FF56;
}

.playerScore .playerName {
  width: 77%;
  background-color: #ECFFE0;
}

#player1Score {
  float: left;
}

#player2Score {
  float: right;
  text-align: right;
}


/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

.gameOver {
  display: block;
  height: 20%;
  padding-top: 10%;
  font-size: 2em;
}

.btnGameOver {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
}


button:focus {outline:0;}

.effectButtons{

  background-color:#b4bbd4;
  border-radius:10%;
  width:50%;
  height:0;
  padding-bottom: 50%;
  background: -webkit-radial-gradient(red, yellow);
  background: -o-radial-gradient(red, yellow);
  background: -moz-radial-gradient(red, yellow);
  background: radial-gradient( #d6f8df 5%,  #95e3ab  25%, #b4bdd4 80%);
  position:relative;
  border:none;




}
#buttonContainer{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.moveEffectButton{
  -ms-transform: translate(0px,10px);
  -webkit-transform: translate(0px,10px);
  transform: translate(0px,10px);
}



.buttonBorder{
  -webkit-box-shadow: 0px 10px 0px 0px rgba(216,222,234,1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(216,222,234,1);
  box-shadow: 0px 10px 0px 0px rgba(216,222,234,1);
}
